.gradle
apks
build
buildSrc
out
.gradle
apks
.gradle
buildSrc
out
project/deviceComponents/deviceControlDaemon/.gradle
project/deviceComponents/deviceControlDaemon/.idea
project/deviceComponents/deviceControlDaemon/build
project/pcComponents/exploration/build
.gradle
test-data
buildSrc
out
project/deviceComponents/deviceControlDaemon/.gradle
project/deviceComponents/deviceControlDaemon/build
project/pcComponents/core/build
project/pcComponents/exploration/build
.gradle
buildSrc
project/deviceComponents/deviceControlDaemon/.gradle
project/deviceComponents/deviceControlDaemon/build
