.gradle
apks
build

out
.gradle
apks
.gradle
out
project/deviceComponents/deviceControlDaemon/.gradle
project/deviceComponents/deviceControlDaemon/.idea
project/deviceComponents/deviceControlDaemon/build
project/pcComponents/exploration/build
.gradle
test-data

out
project/deviceComponents/deviceControlDaemon/.gradle
project/deviceComponents/deviceControlDaemon/build
project/pcComponents/core/build
project/pcComponents/exploration/build
.gradle

project/deviceComponents/deviceControlDaemon/.gradle
project/deviceComponents/deviceControlDaemon/build
.gradle

project/deviceComponents/deviceControlDaemon/.gradle
project/pcComponents/core/build
project/pcComponents/core/out
project/pcComponents/exploration/build
project/pcComponents/exploration/out
.DS_Store
project/pcComponents/core/build
*.lock
.gradle

out
out
.gradle
project/deviceComponents/deviceControlDaemon/build
project/deviceComponents/deviceControlDaemon/build
project/pcComponents/core/build
project/pcComponents/core/out
project/pcComponents/exploration/build
.DS_Store
out

*.apk
